@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

/* NAVIGATION BAR */
.logo {
    text-decoration: none;
    font-size: 50px;
    color: white;
    margin-left: -50px;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding:  15px 25px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: rgba(223, 141, 255, 0.8);
    border-radius: 10px;
}

.contact, .watch {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px 19px;
    border: 2px solid white;
    border-radius: 50px;
}

.watch {
    font-size: 15px;
    color: #4C2657;
    border-radius: 0;
    display: none;
}

.contact:hover {
    border-color: white;
    color: white;
    background-color:  rgba(223, 141, 255, 0.8);;
}

.burger {
    display: none;
    cursor: pointer;
    padding-left: 35px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 1246px) {
    nav ul li a {
        color: white;
        text-decoration: none;
        padding:  10px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1280px) {
    .burger {
        display: block;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    ul {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: auto;
    }

    nav ul li {
        margin: 16px 0;
    }

    nav ul li a {
        color: #4C2657;
        text-align: center;
    }

    ul.active {
        left: 0;
    }

    nav.active {
        background-color: #4C2657;
        transition: 0.7s ease-in-out;
    }
}

@media screen and (max-width: 721px) {
    .burger {
        margin-left: 50%;
    }

    .contact {
        display: none;
    }

    .watch {
        display: inline-block;
    }
}


/* JS CLASS */
.navbar-scrolled {
    background-color: white;
    transition: 0.5s ease-in-out;
}

.changecolor {
    color: purple;
    transition: 0.5s ease-in-out;
}

.changebg {
    background-color: purple;
    transition: 0.5s ease-in-out;
}

.changeborder {
    color: purple;
    border-color: purple;
    transition: 0.5s ease-in-out;
}

/* CONTENT */
#container {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    max-width: max-content;
    background: linear-gradient(to right, rgba(93, 7, 115, 1), rgba(0, 0, 0, 0)), url('../pages/img\ 2/cover2.jpg');
    background-position: bottom;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.text {
    width: 50%;
}

.text, .heading {
    display: flex;
    flex-direction: column;
    color: white;
}

.subheading {
    margin-top: 50px;
    width: 80%;
}

.subheading p {
    font-size: 100%;
    margin-bottom: 20px;
}

.heading span:first-child {
    font-size: 20px;
    letter-spacing: 6px;
}

.heading span:nth-child(2) {
    font-size: 90px;
    font-weight: 800;
    margin-top: -15px;
}

.heading span:last-child {
    font-size: 20px;
    font-weight: 700;
    margin-top: -30px;
    color: #FD00FF;
}

img {
    width: 30%;
    height: 30%;
    transform: rotate(24deg);
    margin-top: -2%;
}

@media screen and (max-width: 1245px) {
    .content {
        flex-direction: column-reverse;
        padding-top: 175px;
        gap: 80px;
    }

    .text, img {
        margin: auto;
    }

    .text {
        width: 80%;
    }

    img {
        height: 55%;
        width: 55%;
    }

    .heading, .subheading{
        text-align: center;
        margin: auto;
    }

    .subheading {
        margin-top: 50px;
    }

    .subheading p{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .heading span:first-child {
        font-size: 15px;
        letter-spacing: 6px;
    }
    
    .heading span:nth-child(2) {
        font-size: 60px;
        font-weight: 800;
        margin-top: -15px;
    }
    
    .heading span:last-child {
        font-size: 15px;
        font-weight: 700;
        margin-top: -10px;
    }
}

@media screen and (max-width: 536px) {


    .heading span:first-child {
        font-size: 15px;
        letter-spacing: 6px;
    }
    
    .heading span:nth-child(2) {
        font-size: 60px;
        font-weight: 800;
        line-height: 55px;
        margin-top: 10px;
    }
    
    .heading span:last-child {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
    }
}



